import React from 'react';
import styles from './index.module.less';

const <%= data.name %> = () => {
  return (
     <div className={styles.<%= data.lowerName %>}><%= data.name %></div>
  );
};
export default <%= data.name %>;